html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: url("../imgs/bgd-paper.png") repeat;
  background-size: 30%;
  @media only screen and (min-width: 1200px) {
    background-size: 10%;
  }
}

.pg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-btn-back {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 2rem 0;
  @media only screen and (min-width: 1200px) {
    padding-top: 4rem 0;
  }
}
