html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: url("../imgs/bgd-paper.png") repeat;
  background-size: 30%;
  @media only screen and (min-width: 1200px) {
    background-size: 10%;
  }
}

.pg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-btn-back {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 2rem 0;
  @media only screen and (min-width: 1200px) {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
}

.pg-intro {
  text-align: center;
  display: flex;
  margin: 5rem auto 2rem;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 1200px) {
    margin-top: 8rem;
  }
  img {
    width: 100%;
    padding: 2rem 4rem;
    box-sizing: border-box;
    display: block;
    @media only screen and (min-width: 1200px) {
      // width: 33%;
      width: 33vw;
      padding: 0;
    }
  }
}
