{{ content }}

<section class="pg-intro">
  <img src="/assets/imgs/artwork-sentence.svg" alt="About sentece" />
</section>

<article class="container-artwork container">
  <div class="row">
    {% include artwork.html folder="assets/imgs/gallery" %}
    <section class="artwork-thumb col-2">
      <a
        href="/assets/imgs/video-thumbs/12_hours.png"
        title="12 Hours"
        target="_blank"
      >
        <img
          src="/assets/imgs/video-thumbs/12_hours.png"
          alt="12 Hours video thumbnail"
          title="12 Hours"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a
        href="https://vimeo.com/448138724"
        title="Anno's Africa (2013)"
        target="_blank"
      >
        <img
          src="/assets/imgs/video-thumbs/annos_africa.png"
          alt="Anno's Africa video thumbnail"
          title="Anno's Africa (2013)"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a href="https://vimeo.com/448128580" title="Art (2015)" target="_blank">
        <img
          src="/assets/imgs/video-thumbs/art.png"
          alt="Art video thumbnail"
          title="Art (2015)"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a
        href="https://vimeo.com/448129758"
        title="Big Draw (2013)"
        target="_blank"
      >
        <img
          src="/assets/imgs/video-thumbs/big_draw.png"
          alt="Big Draw thumbnail"
          title="Big Draw (2013)"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a
        href="https://vimeo.com/448131506"
        title="Dizzy Flies (2020)"
        target="_blank"
      >
        <img
          src="/assets/imgs/video-thumbs/dizzy_flies.png"
          alt="Dizzy Flies thumbnail"
          title="Dizzy Flies (2020)"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a
        href="https://vimeo.com/448136384"
        title="Go Back To Your Roots (2007)"
        target="_blank"
      >
        <img
          src="/assets/imgs/video-thumbs/go_back_to_your_roots.png"
          alt="Go Back To Your Roots thumbnail"
          title="Go Back To Your Roots (2007)"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a
        href="https://vimeo.com/448136645"
        title="Healthy Me (2013)"
        target="_blank"
      >
        <img
          src="/assets/imgs/video-thumbs/healthy_me.png"
          alt="Healthy Me thumbnail"
          title="Healthy Me (2013)"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a
        href="https://vimeo.com/448139661"
        title="Kenya Orchid Competition (2012)"
        target="_blank"
      >
        <img
          src="/assets/imgs/video-thumbs/kenya_orchid_competition.png"
          alt="Kenya Orchid Competition thumbnail"
          title="Kenya Orchid Competition (2012)"
        />
      </a>
    </section>
    <section class="artwork-thumb col-2">
      <a href="https://vimeo.com/448141682" title="Some (2014)" target="_blank">
        <img
          src="/assets/imgs/video-thumbs/some.png"
          alt="Some thumbnail"
          title="Some (2014)"
        />
      </a>
    </section>
  </div>
</article>
{% include back.html %}
